@inject Services.PrinterService PrinterService

<h5 class="mx-0 mt-1 mb-2 fw-bold text-center">IMPRESSÃO DE IMAGEM</h5>

<div class="container-fluid px-3">
    <EditForm Model="@_dados">
        <div class="row">
            <div class="row align-content-center justify-content-center" style="height: 11rem;">
                @*<img src="images/elgin_logo_default_print_image.png" class="col-8" />*@
                <img src="@_dados.ImageUrl" class="col-8 image-preview" />
            </div>

            <div class="row mt-2">
                <div class="col-3 align-self-center fw-bold">ESTILIZAÇÃO:</div>
                <div class="col-9 form-check form-switch">
                    <input class="form-check-input" type="checkbox" @bind-value="_dados.CutPaper" id="cutpaper">
                    <label class="form-check-labe fw-bold" for="cutpaper">CUT PAPER</label>
                </div>
                @*</div>*@
            </div>


            <div class="row ms-1">
                <div class="row mt-4">
                    <div class="col row me-1">
                        <button @onclick="CarregarImagemPadrao" class="btn-primary rounded-3">USAR IMAGEM PADRÃO</button>
                    </div>
                    <div class="col row ms-1">
                        <button @onclick="CarregarImagem" class="btn-primary rounded-3">CARREGAR IMAGEM</button>
                    </div>
                </div>
                <div class="row mt-2">
                    <button @onclick="Imprimir" class="btn-primary rounded-3">IMPRIMIR IMAGEM</button>
                </div>
            </div>
        </div>
    </EditForm>
</div>