.principal {
    padding: 0.25rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
}

    .principal .header {
        padding: 1rem 0 0.5rem 0;
        order: 0;
        flex: 0 0 auto;
        align-self: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

        .principal .header > .logo-elgin {
            height: 5rem;
            align-self: center;
        }

    .principal .seletor {
        order: 1;
        flex: 1 0 auto;
        align-self: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        user-select: none;
    }

        .principal .seletor a:hover > .botao {
            border-color: red;
        }

        .principal .seletor a:link,
        .principal .seletor a:visited,
        .principal .seletor a:active {
            color: inherit;
            text-decoration: none;
        }

        .principal .seletor a > .botao {
            flex: 0 0 auto;
            width: 9.5rem;
            height: 10rem;
            margin: 0 .5rem 0.5rem .5rem;
            padding: .5rem;
            border: 0.15rem;
            border-radius: 1.5rem;
            border-style: solid;
            border-color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
        }

            .principal .seletor a > .botao .btn-image {
                width: 90%;
                height: 60%;
                object-fit: contain;
                flex: 0 1 auto;
            }

            .principal .seletor a > .botao .btn-text {
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                align-items: center;
                font-weight: bold;
                cursor: pointer;
            }
