@page "/"

<div class="principal">
    <div class="header">
        <img class="logo-elgin" src="images/bannerElginSmall.png" />
    </div>

    <div class="seletor">
        <a href="/e1bridge">
            <div class="botao">
                <img class="btn-image" src="images/elginpay_logo.png" />
                <label class="btn-text">E1 - BRIDGE</label>
            </div>
        </a>

        <a href="/nfce">
            <div class="botao">
                <img class="btn-image" src="images/nfce.png" />
                <label class="btn-text">NFC-e</label>
            </div>
        </a>

        <a href="/impressora">
            <div class="botao">
                <img class="btn-image" src="images/elgin_i9_full.png" />
                <label class="btn-text">IMPRESSORA</label>
            </div>
        </a>

        <a href="/balanca">
            <div class="botao">
                <img class="btn-image" src="images/elgin_balanca.png" />
                <label class="btn-text">BALANÇA</label>
            </div>
        </a>



        <div class="seletor">
            <a href="/tef">
                <div class="botao">
                    <img class="btn-image" src="images/msitefL.png" />
                    <label class="btn-text">TEF</label>
                </div>
            </a>

            <a href="/carteiradigital">
                <div class="botao">
                    <img class="btn-image" src="images/msitefL.png" />
                    <label class="btn-text">CARTEIRA DIGITAL</label>
                </div>
            </a>

            <a href="/barcode">
                <div class="botao">
                    <img class="btn-image" src="images/barCodeL.png" />
                    <label class="btn-text">CÓDIGO DE BARRAS</label>
                </div>
            </a>

            <a href="/sat">
                <div class="botao">
                    <img class="btn-image" src="images/sat_elgin.png" />
                    <label class="btn-text">SAT</label>
                </div>
            </a>

        </div>
    </div>
</div>