@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="content">
            @Body
        </div>

        <div class="footer">
            <img class="minilogo-elgin" src="images/bannerElginSmall.png" />
            <label class="label-plataforma">@DeviceInfo.Platform</label>
            <label class="label-dotnet-maui">.NET MAUI + BLAZOR</label>
        </div>
    </main>
</div>

