.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
}

    .page .home-button {
        position: fixed;
        bottom: .1rem;
        left: .3rem;
    }

    .page .kiosk-button {
        position: fixed;
        bottom: .1rem;
        right: .3rem;
    }

    .page .content {
        flex: 1;
        overflow: auto;
        height: calc(100vh - 2rem);
    }

    .page .footer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        height: 2rem;
    }

        .page .footer > .minilogo-elgin {
            flex: 0;
            height: 1.75rem;
            margin-left: 4rem;
        }

        .page .footer > .label-plataforma {
            flex: 0 0 auto;
            margin-right: 1rem;
            align-content: center;
            font-size: small;
            color: gray;
            text-transform: lowercase;
        }

        .page .footer > .label-dotnet-maui {
            flex: 0 0 auto;
            margin-right: 4rem;
            align-content: end;
            font-size: small;
            color: gray;

        }

@media (max-height: 500px) {
    .page .content {
        height: 100vh;
    }

    .page .footer {
        visibility: hidden;
    }
}
